spring:
  datasource:
    url: jdbc:postgresql://localhost:15432/shameleon
    username: shameleon
    password: shameleon
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
        show_sql: true

  flyway:
    enabled: true

server:
  port: 8080